*{
    margin: 2px;
}
body{
    font-size: 25px;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.flex-header{
    background-color: aqua;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.flex-main{
    display: flex;
    flex: 1;
}
.flex-nav{
    background-color: blue;
    padding-top: 3rem;
    flex: 1 1 5rem;
}
.flex-article{
    background-color: blueviolet;
    padding-top: 3rem;
    flex: 1 1 5rem;
}
.flex-aside{
    background-color: rgb(8, 132, 33);
    padding-top: 3rem;
    flex: 1 1 5rem;
}
.flex-footer{
    background-color: rgb(182, 77, 7);
    padding-top: 3rem;
    padding-bottom: 3rem;
}